<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codingtalk.tacomallmapper.cart.CartMapper">

    <resultMap id="getCarts" type="cn.codingtalk.tacomallentity.cart.Cart">
        <id property="id" column="id" />
        <collection property="goodsItem" column="goods_item_id" select="cn.codingtalk.tacomallmapper.goods.GoodsItemMapper.getGoodsItemById"></collection>
    </resultMap>

    <select id="getCarts" resultMap="getCarts">
        SELECT *
        FROM cart
        WHERE member_id=#{memberId}
    </select>


</mapper>