spring:
  datasource:
    dynamic:
      primary: master
      datasource:
        master:
          username: tacomalluser
          password: LACsKCCByyLKd4RP
          driver-class-name: com.p6spy.engine.spy.P6SpyDriver
          url: jdbc:p6spy:mysql://localhost:3306/tacomall?serverTimezone=Asia/Shanghai&characterEncoding=utf-8&useSSL=false