<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store.tacomall.common.mapper.goods.GoodsItemMapper">

    <resultMap id="goodsItem" type="store.tacomall.common.entity.goods.GoodsItem">
        <id property="id" column="id"></id>
        <collection property="merchant" column="id" select="store.tacomall.common.mapper.merchant.MerchantMapper.getMerchantByGoodsItemId"></collection>
    </resultMap>

    <select id="getGoodsItem" resultMap="goodsItem">
        SELECT *
        FROM goods_item
        ${ew.customSqlSegment}
    </select>

    <select id="getGoodsItemById" resultMap="goodsItem">
        SELECT *
        FROM goods_item
        WHERE id = #{id}
        AND is_delete = 0
    </select>


</mapper>